body{
    background: #191918;
    margin: 0;
}

/*scrollbar*/
/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #60437f;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #76529c;
}

/*buttons*/
.primary_button{
    background: #7f37da;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    padding: 10px;
    border: solid 1px black;
    border-radius:10px;
    transition: all 0.3s ease;
}
.primary_button:hover:hover{
    background:#9742ff;
    cursor: pointer;
}

/*the header section*/
header{
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
}

.logo{
    height: 15vh;
}


/* General section styling */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.section_text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
}

.section_header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1rem;
}

/*the footer section*/
footer {
    background: #232323;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }


/* Learning Hub Container */
.learning_hub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}

.blogs h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

/*blog*/
.blogs{
    background: #382a47;
    padding: 1rem 1rem;
    color: white;
    border-radius: 10px;
    height: 30rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blog_image{
    height:30vh;
    width: 40vh;
    object-fit: cover;
    border-radius: 10px;
}


/*Blogs pages style*/
.blogs_content{
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.blogs_content img{
    height:25rem;
    border-radius: 10px;
}

.blogs_content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: xx-large;
}
.blogs_content h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: x-large;
    margin-right: auto;
}
.blogs_content h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
    margin-right: auto;
}

.blogs_content p, .blogs_content ul, .blogs_content ol, .blogs_content table{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
    margin-right: auto;
}

.blogs_content table, .blogs_content table td, .blogs_content table th
{
    border : 2px solid white;
    padding: 5px;
}
